* {
  scrollbar-color: #1b1b1d transparent;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: translateX(0);
  }
}

.slide-in-left {
  animation: slideInLeft 0.7s ease-out both;
}
