@import "tailwindcss";

:root {
  color-scheme: light;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

@theme {
  --font-family-base: "Nunito Sans", sans-serif;
  --font-robot: "Roboto Slab", serif;
  --font-bitcount: "Bitcount Grid Single", serif;
  --font-bitcount-ligth: "Bitcount Grid Single Light", serif;
  --font-domine: "Domine", serif;
}
@keyframes wave {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}

@theme {
  /* ... suas outras variáveis ... */
  --animate-wave: wave 1.5s ease-in-out infinite;
}
