@import "tailwindcss";

@font-face {
  font-family: "Nunito Sans";
  src: url("../src/assets/fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

/* Importe diferentes pesos da Roboto Slab */
@font-face {
  font-family: "Roboto Slab";
  src: url("./assets/fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf");
  font-weight: 300;
}



@theme {
  --font-family-base: "Nunito Sans", sans-serif;
  --font-robot: "Roboto Slab", serif;
}